<footer id="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="content">
          <div class="brand">
            <img src="{% asset_path 'logo-white.svg' %}" alt="Dart logo" class="brand"/>
          </div>
          <h4><a href="/terms">条款</a> | <a href="http://www.google.com/intl/en/policies/privacy/">隐私</a></h4>
          <p><small>除非另有说明，本页面的内容是根据知识共享署名 3.0 许可协议授权，而代码示例则以 BSD 许可协议授权。</small></p>
          <p><small>本站为 Dart 官网中文翻译版，内容归 Dart 官网所有，本人只负责翻译分享，如存在不当之处，请联系 <a href="http://github.com/oopsuy">Oopsguy</a></small></p>
          
          <h4>这个网站有错误？</h4>
          <ul>
            <li><a href="https://github.com/oopsguy/dart-lang-site/issues">提出 bug</a></li>
          </ul>

          <p>Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></p>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="content">
          <h4>技术</h4>
          <ul>
            <li><a href="{{site.flutter}}">Flutter</a></li>
            <li><a href="{{site.webdev}}">Dart for web</a></li>
            <li><a href="{{site.webdev}}/angular">AngularDart</a></li>
            <li><a href="{{site.dart_vm}}">Dart VM</a></li>
            <li><a href="https://dart-lang.github.io/observatory/">Observatory</a></li>
            <li><a href="/guides/libraries">Dart 库</a></li>
            <li><a href="/guides/language">Dart 编程语言</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-4 col-md-3">
        <div class="content">
          <h4>资源</h4>
          <ul>
            <li><a href="https://dartpad.dartlang.org/">DartPad</a></li>
            <li><a href="https://pub.dartlang.org/">Pub packages</a></li>
            <li><a href="http://news.dartlang.org/">Dart 资讯</a></li>
            <li><a href="https://github.com/dart-lang/sdk/issues">Dart bug & 功能反馈</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-4 col-md-3">
        <div class="content">
          <h4>社区</h4>
          <ul>
            <li><a href="/community">支持 & 邮件列表</a></li>
            <li><a href="/community/who-uses-dart">谁是用 Dart</a></li>
            <li><a href="http://stackoverflow.com/questions/tagged/dart">Stack Overflow</a></li>
            <li>G+ <a href="https://plus.google.com/communities/114566943291919232850">社区</a> &
                <a href="https://plus.google.com/b/109866369054280216564/+dartlang">公告组</a></li>
            <li><a href="https://gitter.im/dart-lang/home">Gitter 聊天室</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
